body {
  text-align: center;

  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.3;

  background: linear-gradient(to right, #c0e2f0, #ebfdfb, #c0e2f0);
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}
