a:hover,
a:focus {
  & .info {
    background-color: #fff;

    font-size: 1.1em;
    padding: 0.8em 0;
  }
}

.photo-card {
  // Dynamic equal sized small squares grid in fixed size big square
  // https://pretagteam.com/question/create-dynamic-equal-sized-small-squares-grid-in-fixed-size-big-square
  display: grid;

  position: relative;

  &::before {
    content: '';
    padding-bottom: 100%;
    grid-area: 1 / 1 / 2 / 2;
  }

  color: #727374;
  border-radius: 5px;
  border: 2px solid #adcce4;
  overflow: hidden;

  transition: box-shadow cubic-bezier(0.4, 0, 0.2, 1) 500ms;

  &:hover,
  &:focus {
    cursor: pointer;
    box-shadow: 0px 0px 15px 15px #223c5033;
  }
}

img {
  object-fit: cover;
  width: 100%;
  height: 100%;

  grid-area: 1 / 1 / 2 / 2;
}

.info {
  position: absolute;
  width: 100%;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  padding: 1em 0;

  color: #000000;
  background-color: rgba(255, 255, 255, 0.5);

  transition: all cubic-bezier(0.4, 0, 0.2, 1) 500ms;
}

.info-item {
  display: flex;
  flex-direction: column;
}
