.serch-form-wrapper {
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  z-index: 100;
  width: 100%;
  padding: 20px 0;

  background-color: #3f71b1;
}

.search-form {
  display: flex;

  font-size: 20px;
  border-radius: 5px;
  overflow: hidden;

  &:focus-within {
    outline: 2px solid #adcce4;
  }
}

input[name='searchQuery'] {
  padding: 10px;

  border: none;
  outline: none;
}

.search-btn {
  border: none;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  grid-gap: 20px;
  padding: 20px;

  @media (min-width: 1440px) {
    grid-template-columns: repeat(5, minmax(280px, 1fr));
  }
}

.load-more-btn {
  padding: 10px;
  margin-bottom: 20px;

  font-size: 20px;
  border-radius: 5px;
  background-color: #3f71b1;
  color: #fff;
  border: none;

  transition: transform cubic-bezier(0.4, 0, 0.2, 1) 500ms;

  &:hover,
  :focus {
    transform: scale(1.1);
  }
}
